/* App.scss */

@import '@carbon/themes/scss/themes';
// Use the gray 100 theme
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles.scss';

// @import './components/nav/nav.scss';

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

.bx--header-panel {
  height: auto;
  bottom: auto;
  border-bottom: 1px solid #393939;
  transform: translateX(0);
  transition: all .15s cubic-bezier(0,0,.38,.9);
}

.Switcher-module--divider--2Eu56 {
  width: 224px;
  margin: 1rem 1rem 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #525252;
}

.Switcher-module--divider--2Eu56 span {
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.34;
  letter-spacing: .32px;
  color: #c6c6c6;
}

br {
  line-height: 8px;
}

hr {
  margin-top: $spacing-09;
  margin-bottom: $spacing-05;
}

.bx--content {
  background-color: #161616;
}

.entry-page__title, .dashboard__title {
  padding-top: $spacing-09;
}

.entry-page__form {
  max-width: 320px;
  padding-top: $spacing-04;
}

.entry-page__input {
  padding-bottom: $spacing-05;
}

//

$spaces: (
  spacing-01: $spacing-01,
  spacing-02: $spacing-02,
  spacing-03: $spacing-03,
  spacing-04: $spacing-04,
  spacing-05: $spacing-05,
  spacing-06: $spacing-06,
  spacing-07: $spacing-07,
  spacing-08: $spacing-08,
  spacing-09: $spacing-09
);

$layouts: (
  layout-01: $layout-01,
  layout-02: $layout-02,
  layout-03: $layout-03,
  layout-04: $layout-04,
  layout-05: $layout-05,
  layout-06: $layout-06,
  layout-07: $layout-07
);

@each $name, $space in $spaces {
  .top-#{$name} {
    padding-top: $space;
  }
}

@each $name, $space in $spaces {
  .bottom-#{$name} {
    padding-bottom: $space;
  }
}

@each $name, $layout in $layouts {
  .top-#{$name} {
    margin-top: $layout;
  }
}

@each $name, $layout in $layouts {
  .bottom-#{$name} {
    margin-bottom: $layout;
  }
}